@font-face {
font-family: Arial ;
src: url("fonts/arial.eot"); /* EOT file for IE */
src: url('fonts/ariald41d.eot?#iefix') format('embedded-opentype'), url('fonts/arial.woff') format('woff'), url('fonts/arial.ttf') format('truetype');
}
@font-face {
font-family: Arial Black ;
src: url("fonts/ariblk.eot");
src: url('fonts/ariblkd41d.eot?#iefix') format('embedded-opentype'), url('fonts/ariblk.woff') format('woff'), url('fonts/ariblk.ttf') format('truetype');
}
