.fixed {position:fixed; top:0; width:880px; z-index:9999;}
.select-text {
    width:auto;
    height:300px;
    margin:5px 0 5px 0;
}
.un {
    width:920px;
    height:260px;
}
.texting {
    height:150px;
    font-size:80pt;
    line-height:130px;
    font-weight:bold;
}
.night {
    background-color:#000;
}

.font-selected {
    border:1px;
    margin: 10px;
    width:120px;
    height:120px;
    text-align:center;
    float:left;
    -webkit-border-radius: 1px 1px 1px 1px;
    border-radius: 1px 1px 1px 1px;

}

.font-selected .font-name {
    font-size: 45pt;
    line-height:80px;

}
.write-text {
    margin-left:20px;
    margin-right:20px;
    height:80%;
    width:90%;
    align:center;
}
.material{
    border:1px;
    margin: 15px;
    width:380px;
    padding: 5px;
    height:auto;
    text-align:center;
    float:left;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    text-align: center;
    line-height:auto;
    background-color: #eee;
    box-shadow: 10px 10px 5px #888888;
}
.lighting {
    width:400px;
    height:290px;

    float:left;
    margin-right:10px;
}
.lighting img {
    width:400px;
    height:250px;
}
.lighting p {
    width:400px;
    height:40px;

    font-size:18pt;
}


.beyaz {
    color:#FFFFFF;
}
.beyaz-on {
    letter-spacing:5px;
    text-shadow:#F2F2F2 1px 1px 0px,#CFCFCF 2px 2px 0px,#C5C5C5 3px 3px 0px,#BBBBBB 4px 4px 0px,#B2B2B2 5px 5px 0px,#A9A9A9 6px 6px 0px,#A1A1A1 7px 7px 0px,#000 9px 9px 8px;
}
.beyaz-yan {
    letter-spacing:5px;
    text-shadow:#F2F2F2 1px 1px 0px,#CFCFCF 2px 2px 0px,#C5C5C5 3px 3px 0px,#BBBBBB 4px 4px 0px,#B2B2B2 5px 5px 0px,#A9A9A9 6px 6px 0px,#A1A1A1 7px 7px 0px,#000 9px 9px 8px;
}

.pembe {
    color:#FFC0CB;
}
.pembe-on {
    letter-spacing:5px;
    text-shadow:#7A7A7A 1px 1px 0px,#686868 2px 2px 0px,#636363 3px 3px 0px,#5E5E5E 4px 4px 0px,#595959 5px 5px 0px,#555555 6px 6px 0px,#515151 7px 7px 0px,#000 9px 9px 8px;
}
.pembe-yan {
    letter-spacing:5px;
    text-shadow:#F2B6C1 1px 1px 0px,#CF9CA5 2px 2px 0px,#C5949D 3px 3px 0px,#BB8D95 4px 4px 0px,#B2868E 5px 5px 0px,#A97F87 6px 6px 0px,#A17980 7px 7px 0px,#000 9px 9px 8px;
}
.sari {
    color:#FFFF00;
}
.sari-on {
    letter-spacing:5px;
    text-shadow:#7A7A7A 1px 1px 0px,#686868 2px 2px 0px,#636363 3px 3px 0px,#5E5E5E 4px 4px 0px,#595959 5px 5px 0px,#555555 6px 6px 0px,#515151 7px 7px 0px,#000 9px 9px 8px;
}
.sari-yan {
    letter-spacing:5px;
    text-shadow:#F2F200 1px 1px 0px,#CFCF00 2px 2px 0px,#C5C500 3px 3px 0px,#BBBB00 4px 4px 0px,#B2B200 5px 5px 0px,#A9A900 6px 6px 0px,#A1A100 7px 7px 0px,#000 9px 9px 8px;
}
.lavanta {
    color:#CCCCFF;
}
.lavanta-on {
    letter-spacing:5px;
    text-shadow:#7A7A7A 1px 1px 0px,#686868 2px 2px 0px,#636363 3px 3px 0px,#5E5E5E 4px 4px 0px,#595959 5px 5px 0px,#555555 6px 6px 0px,#515151 7px 7px 0px,#000 9px 9px 8px;
}
.lavanta-yan {
    letter-spacing:5px;
    text-shadow:#C2C2F2 1px 1px 0px,#A6A6CF 2px 2px 0px,#9E9EC5 3px 3px 0px,#9696BB 4px 4px 0px,#8E8EB2 5px 5px 0px,#8787A9 6px 6px 0px,#8080A1 7px 7px 0px,#000 9px 9px 8px;
}
.turuncu {
    color:#FF7F00;
}
.turuncu-on {
    letter-spacing:5px;
    text-shadow:#7A7A7A 1px 1px 0px,#686868 2px 2px 0px,#636363 3px 3px 0px,#5E5E5E 4px 4px 0px,#595959 5px 5px 0px,#555555 6px 6px 0px,#515151 7px 7px 0px,#000 9px 9px 8px;
}
.turuncu-yan {
    letter-spacing:5px;
    text-shadow:#F27900 1px 1px 0px,#CF6800 2px 2px 0px,#C56300 3px 3px 0px,#BB5E00 4px 4px 0px,#B25900 5px 5px 0px,#A95500 6px 6px 0px,#A15100 7px 7px 0px,#000 9px 9px 8px;
}
.mor {
    color:#800080;
}
.mor-on {
    letter-spacing:5px;
    text-shadow:#7A7A7A 1px 1px 0px,#686868 2px 2px 0px,#636363 3px 3px 0px,#5E5E5E 4px 4px 0px,#595959 5px 5px 0px,#555555 6px 6px 0px,#515151 7px 7px 0px,#000 9px 9px 8px;
}
.mor-yan {
    letter-spacing:5px;
    text-shadow:#7A007A 1px 1px 0px,#680068 2px 2px 0px,#630063 3px 3px 0px,#5E005E 4px 4px 0px,#590059 5px 5px 0px,#550055 6px 6px 0px,#510051 7px 7px 0px,#000 9px 9px 8px;
}
.kirmizi {
    color:#FF0000;
}
.kirmizi-on {
    letter-spacing:5px;
    text-shadow:#7A7A7A 1px 1px 0px,#686868 2px 2px 0px,#636363 3px 3px 0px,#5E5E5E 4px 4px 0px,#595959 5px 5px 0px,#555555 6px 6px 0px,#515151 7px 7px 0px,#000 9px 9px 8px;
}
.kirmizi-yan {
    letter-spacing:5px;
    text-shadow:#F20000 1px 1px 0px,#CF0000 2px 2px 0px,#C50000 3px 3px 0px,#BB0000 4px 4px 0px,#B20000 5px 5px 0px,#A90000 6px 6px 0px,#A10000 7px 7px 0px,#000 9px 9px 8px;
}
.turkuaz {
    color:#30D5C8;
}
.turkuaz-on {
    letter-spacing:5px;
    text-shadow:#7A7A7A 1px 1px 0px,#686868 2px 2px 0px,#636363 3px 3px 0px,#5E5E5E 4px 4px 0px,#595959 5px 5px 0px,#555555 6px 6px 0px,#515151 7px 7px 0px,#000 9px 9px 8px;
}
.turkuaz-yan {
    letter-spacing:5px;
    text-shadow:#2ECABE 1px 1px 0px,#27ADA2 2px 2px 0px,#25A49A 3px 3px 0px,#239C92 4px 4px 0px,#21948B 5px 5px 0px,#1F8D84 6px 6px 0px,#1D867D 7px 7px 0px,#000 9px 9px 8px;
}
.mavi {
    color:#0000FF;
}
.mavi-on {
    letter-spacing:5px;
    text-shadow:#7A7A7A 1px 1px 0px,#686868 2px 2px 0px,#636363 3px 3px 0px,#5E5E5E 4px 4px 0px,#595959 5px 5px 0px,#555555 6px 6px 0px,#515151 7px 7px 0px,#000 9px 9px 8px;
}
.mavi-yan {
    letter-spacing:5px;
    text-shadow:#0000F2 1px 1px 0px,#0000CF 2px 2px 0px,#0000C5 3px 3px 0px,#0000BB 4px 4px 0px,#0000B2 5px 5px 0px,#0000A9 6px 6px 0px,#0000A1 7px 7px 0px,#000 9px 9px 8px;
}
.acikmavi {
    color:#00FFFF;
}
.acikmavi-on {
    letter-spacing:5px;
    text-shadow:#7A7A7A 1px 1px 0px,#686868 2px 2px 0px,#636363 3px 3px 0px,#5E5E5E 4px 4px 0px,#595959 5px 5px 0px,#555555 6px 6px 0px,#515151 7px 7px 0px,#000 9px 9px 8px;
}
.acikmavi-yan {
    letter-spacing:5px;
    text-shadow:#00F2F2 1px 1px 0px,#00CFCF 2px 2px 0px,#00C5C5 3px 3px 0px,#00BBBB 4px 4px 0px,#00B2B2 5px 5px 0px,#00A9A9 6px 6px 0px,#00A1A1 7px 7px 0px,#000 9px 9px 8px;
}
.naluminyum {
    color:#808080;
}
.naluminyum-on {
    letter-spacing:5px;
    text-shadow:#7A7A7A 1px 1px 0px,#686868 2px 2px 0px,#636363 3px 3px 0px,#5E5E5E 4px 4px 0px,#595959 5px 5px 0px,#555555 6px 6px 0px,#515151 7px 7px 0px,#000 9px 9px 8px;
}
.yesil {
    color:#008000;
}
.yesil-on {
    letter-spacing:5px;
    text-shadow:#7A7A7A 1px 1px 0px,#686868 2px 2px 0px,#636363 3px 3px 0px,#5E5E5E 4px 4px 0px,#595959 5px 5px 0px,#555555 6px 6px 0px,#515151 7px 7px 0px,#000 9px 9px 8px;
}
.yesil-yan {
    letter-spacing:5px;
    text-shadow:#007A00 1px 1px 0px,#006800 2px 2px 0px,#006300 3px 3px 0px,#005E00 4px 4px 0px,#005900 5px 5px 0px,#005500 6px 6px 0px,#005100 7px 7px 0px,#000 9px 9px 8px;
}
.gri-yan {
    letter-spacing:5px;
    text-shadow:#7A7A7A 1px 1px 0px,#686868 2px 2px 0px,#636363 3px 3px 0px,#5E5E5E 4px 4px 0px,#595959 5px 5px 0px,#555555 6px 6px 0px,#515151 7px 7px 0px,#000 9px 9px 8px;
}
