<div class="panel panel-default" style="margin-top:5px;">
    <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
            Aydınlatma Seçenekleri
        </a>
        </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse in">
        <div class="panel-body">
            <a href="javascript:;" class="material where" rel="front">
                <h2>
                    <p class="text-center">Önden Aydınlatmalı</p>
                </h2>
            </a>
            <a href="javascript:;" class="material where" rel="back">
                <h2>
                    <p class="text-center">Arkadan Aydınlatmalı</p>
                </h2>
            </a>

        </div>
    </div>
</div>

<div id="where">
</div>
<script>
$('document').ready(function() {
    $('.where').on('click',function(){
        loadWhere = $(this).attr('rel');
        var urlLoad = "variety/" + loadMaterial + "/" + loadLigth + "/" + loadWhere + ".html";
        var content;
        $.get(urlLoad, function(data){
            content= data;
            $('#where').html(content);
            $.getScript("_assets/js/script.js");
        });

    });
    $('.collapse').collapse();
});
</script>
