<div class="panel panel-default" style="margin-top:5px;">
    <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            Tabela Seçenekleri
        </a>
        </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse in">
        <div class="panel-body">
            <a href="javascript:;" class="lighting light" rel="isikli">
                <img src="_assets/img/Daynight.png" alt="" />
                <p class="text-center">Işıklı</p>
            </a>
            <a href="javascript:;" class="lighting light" rel="isiksiz">
                <img src="_assets/img/out.png" alt="" />
                <p class="text-center">Işıksız</p>
            </a>

        </div>
    </div>
</div>
<div id="light">
</div>
<script>
$('document').ready(function() {
    $('.light').on('click',function(){
        loadLigth = $(this).attr('rel');
        var urlLoad = "variety/" + loadMaterial + "/" + loadLigth + "/" + loadLigth + ".html";
        var content;
        $.get(urlLoad, function(data){
            content= data;
            $("#light").html(content);

        });

    });
    $('.collapse').collapse();
});
</script>
