<div class="panel panel-default" style="margin-top:5px;">
    <div class="panel-heading">
        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix11">
            Ön Renk
        </a>
        </h4>
    </div>
    <div id="collapseSix11" class="panel-collapse collapse in">
        <div class="panel-body">
            <a href="javascript:;" class="colorselect" rel="beyaz-on" at="beyaz">
                <div class="col-md-1 font-selected" style="font-family: Arial;">
                    <p class="font-name beyaz-on beyaz">A</p>
                    <p class="text-center">Beyaz</p>
                </div>
            </a>
            <a href="javascript:;" class="colorselect" rel="pembe-on" at="pembe">
                <div class="col-md-1 font-selected" style="font-family: Arial;">
                    <p class="font-name pembe-on pembe">A</p>
                    <p class="text-center">Pembe</p>
                </div>
            </a>
            <a href="javascript:;" class="colorselect" rel="sari-on" at="sari">
                <div class="col-md-1 font-selected" style="font-family: Arial;">
                    <p class="font-name sari-on sari">A</p>
                    <p class="text-center">Sarı</p>
                </div>
            </a>
            <a href="javascript:;" class="colorselect" rel="lavanta-on" at="lavanta">
                <div class="col-md-1 font-selected" style="font-family: Arial;">
                    <p class="font-name lavanta-on lavanta">A</p>
                    <p class="text-center">Lavanta</p>
                </div>
            </a>
            <a href="javascript:;" class="colorselect" rel="turuncu-on" at="turuncu">
                <div class="col-md-1 font-selected" style="font-family: Arial;">
                    <p class="font-name turuncu-on turuncu">A</p>
                    <p class="text-center">Turuncu</p>
                </div>
            </a>
            <a href="javascript:;" class="colorselect" rel="mor-on" at="mor">
                <div class="col-md-1 font-selected" style="font-family: Arial;">
                    <p class="font-name mor-on mor">A</p>
                    <p class="text-center">Mor</p>
                </div>
            </a>
            <a href="javascript:;" class="colorselect" rel="kirmizi-on" at="kirmizi">
                <div class="col-md-1 font-selected" style="font-family: Arial;">
                    <p class="font-name kirmizi-on kirmizi">A</p>
                    <p class="text-center">Kırmızı</p>
                </div>
            </a>
            <a href="javascript:;" class="colorselect" rel="turkuaz-on" at="turkuaz">
                <div class="col-md-1 font-selected" style="font-family: Arial;">
                    <p class="font-name turkuaz-on turkuaz">A</p>
                    <p class="text-center">Turkuaz</p>
                </div>
            </a>
            <a href="javascript:;" class="colorselect" rel="mavi-on" at="mavi">
                <div class="col-md-1 font-selected" style="font-family: Arial;">
                    <p class="font-name mavi-on mavi">A</p>
                    <p class="text-center">Mavi</p>
                </div>
            </a>
            <a href="javascript:;" class="colorselect" rel="acikmavi-on" at="acikmavi">
                <div class="col-md-1 font-selected" style="font-family: Arial;">
                    <p class="font-name acikmavi-on acikmavi">A</p>
                    <p class="text-center">Açık Mavi</p>
                </div>
            </a>
            <a href="javascript:;" class="colorselect" rel="naluminyum-on" at="naluminyum">
                <div class="col-md-1 font-selected" style="font-family: Arial;">
                    <p class="font-name naluminyum-on naluminyum">A</p>
                    <p class="text-center">Naturel Alüminyum</p>
                </div>
            </a>
            <a href="javascript:;" class="colorselect" rel="yesil-on" at="yesil">
                <div class="col-md-1 font-selected" style="font-family: Arial;">
                    <p class="font-name yesil-on yesil">A</p>
                    <p class="text-center">Yeşil</p>
                </div>
            </a>

        </div>
    </div>
</div>
